/* ABOUT */
.aboutCtnt{
  min-width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.aboutCtnt .header{
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  background: transparent;
  gap: 50px;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 2px;
  z-index: 1;
}

.aboutCtnt .init, .aboutCtnt .end,
.card{
  width: 100%;
  font-size: 1.75rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.card .imgBx{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.card .imgBx p:first-child{
  align-self: flex-start;
}

.card .imgBx p:last-child{
  align-self: flex-end;
}

.card .imgBx .img{
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .imgBx .img img{
  max-width: 100%;
  height: 100%;
}

.card .textBx{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card .textBx .title{
  font-size: .6em;
}

.card .textBx .ctnt{
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.card .textBx a{
  text-decoration: none;
  font-weight: 600;
  background-image: linear-gradient(to right,var(--purple5) 0%,var(--purple5)100%);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: left bottom;
  transition: .5s;
}

.card .textBx a:hover{
  background-size: 100% 2px;
}

/* SKILLS */

.skillsCtnt{
  min-width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.skillsCtnt .header{
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  background: transparent;
  gap: 10px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  z-index: 1;
}

.skillsCtnt .card{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.skillsCtnt .box{
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.skillsCtnt .box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}

/* .skillsCtnt .box span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.skillsCtnt .box span ion-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* COLORS TEXT */

.ligthyellow_text{
  color: var(--white);
  text-shadow: 0 0 8px var(--yellow);
}

.orange_text{
  color: var(--orange1);
}

.yellow_text{
  color: var(--yellow2);
}

.ligthblue_text{
  color: var(--white);
  text-shadow: 0 0 8px var(--ligthblue2);
}


.blue_text{
  color: var(--blue1);
}

.green_text{
  color: var(--green3);
}

.purple_text{
  color: var(--purple5);
}

/* PADDINGS */

.left_2_rem{
  padding-left: 2rem;
}

.left_4_rem{
  padding-left: 4rem;
}

@media only screen and (min-width:450px) {
  
  /* ABOUT */

  .card .imgBx{
    flex-direction: row;
    align-items: center;
  }

  .card .textBx .title{
    font-size: 1em;
  }

  .card .textBx .ctnt{
    font-size: 1em;
  }

}