*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* outline: 3px solid limegreen !important;
  background: rgb(0 100 0 / 0.1) !important; */
}

body{
  max-width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
}

:root{
  --blue1: #0066b6;
  --blue2: #365fa1;
  --blue3: #1795ce;
  --ligthblue1: #18abbe;
  --ligthblue2: #0fbddf;
  --ligthblue3: #61dbfb;
  --white: #fff;
  --gray: #525252;
  --black1: #222;
  --black2: #333;
  --green: #12d211;
  --green2: #83cd29;
  --green3: #6bbf91;
  --red: #ee122c;
  --yellow: #f9ca3f;
  --yellow2: #ffc200;
  --orange1: #ff9800;
  --orange2: #da4817;
  --purple1: #262335;
  --purple2: #241b2f;
  --purple3: #852468;
  --purple4: #393648;
  --purple5: #db32a8;
}
