*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* outline: 3px solid limegreen !important;
  background: rgb(0 100 0 / 0.1) !important; */
}

body{
  max-width: 100vw;
  min-height: 100vh;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
}

:root{
  --blue1: #287bff;
  --blue2: #365fa1;
  --blue3: #1795ce;
  --ligthblue1: #9ce8f7;
  --ligthblue2: #0fbddf;
  --white: #fff;
  --gray: #525252;
  --black1: #222;
  --black2: #333;
  --green: #12d211;
  --red: #ee122c;
  --yellow: #f9ca3f;
  --orange: #ff9800;
}
